<h1 style="text-align:center;background-color: darkblue; color: white;">Dashboard</h1>

<table>
    <tr>


        <td>
            <canvas id="BarChartIdWH"></canvas>
            <h6 style="text-align: center;">Days Vs Working Hours</h6>

        <td>
            <canvas id="PieChartId"></canvas>
            <h6 style="text-align: center;">Active Employee Count Vs Resigned Employee Count</h6>

        <td>
            <canvas id="BarChartIdSAL"></canvas>
            <h6 style="text-align: center;">Days Vs Salary</h6>
        <td>

    </tr>
    <tr> 
      
        <td>
 
            <canvas id="BarChartIdHS"></canvas>
            
            <h6 style="text-align: center;">Hours Vs Salary</h6>
    
        </td>
        </tr>

</table>