
<body>
    
<div style="width:500px; margin:0 auto">

<h1><b>ASTORIA CALCULATOR</b></h1>

<p><b>--------RESULT-------- : {{ result }} </b></p>


<p>Enter First Value: <input type="text" [(ngModel)]="firstValue" /></p>

<p>Enter Second Value: <input type="text" [(ngModel)]="secondValue" /></p>

<br/>

<br/>

<button (click)="AddNumbers()">Add Numbers</button>&nbsp;

<button (click)="SubNumbers()">Sub Numbers</button>&nbsp;

<button (click)="MulNumbers()">Mul Numbers</button>&nbsp;

<button (click)="DivNumbers()">Div Numbers</button>


</div>
<body>
   <marquee> <i><p>WELCOME TO CALCULATOR</p></i></marquee>
</body>